<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="OGPCS" connectionString="server=PAPA-JI; Integrated Security=True; Initial Catalog=OnlineGadgetsPlace" providerName="Syste.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup"/>
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/Online Gadgets Place" value="51121;True;5952;1;-8586186517880143544"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>

</configuration>